[Unit]
Description=Raspberry Pi Telegram Bot
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pi_telegram_bot
Environment=PATH=/home/ctrl/pi_telegram_bot/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/pi/pi_telegram_bot/venv/bin/python main.py
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pi-telegram-bot

[Install]
WantedBy=multi-user.target
